@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  --media-object-fit: cover;
  --media-object-position: center;
  /* Hide all controls at once */
  --controls: none;
  /* Hide the error dialog */
  --dialog: none;
  /* Hide the loading indicator */
  --loading-indicator: none;
}

.video-js {
  background-color: white !important;
  z-index: 10;
}
.placeholder {
  position: absolute !important;
}
